{% extends "layout.html" %}

{% block content %}
<h2>Overview</h2>
<ul>
    <li>This is a fake website. No products are real nor is anything sold.</li>
    <li>I am using it to better understand e-commerce development.</li>
    <li>My day job is analytical processing but I would like to better understand more areas of development.</li>
</ul>


<h2>Areas of Consideration</h2>
<ul>
    <li>Navigation</li>
    <li>Products</li>
    <li>Taxonomy (i.e. Product Categories)</li>
    <li>Search</li>
    <li>Performance</li>
    <li>Analytics</li>
    <li>Recommendations</li>
    <li>Transactional Emails</li>
    <li>Microservices</li>
</ul>
{% endblock %}
