
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Test Website</title>
    <meta charset="UTF-8">
    <meta name="description" content="Test website" />
    <meta name="author" content="Jon Tavernier" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif
        }
        a {
            color: #457b9d;
            text-decoration: none;
        }
        a:visited {
            color: #1d3557;
        }
        a:hover {
            color: #e63946;
        }
        p#fake {
            background-color:#ffd1d1;
            padding:.5em;
        }

        /*
        CSS Grid Layout
        I heavily relied on an MDN guide here (i.e. stole)
        with slight modifictions to reduce the number of
        areas and columns.
        Source: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Realizing_common_layouts_using_CSS_Grid_Layout

        We'll get to the layout of the page areas but
        first we need to define those areas:
        */
        .main-head {
            grid-area: header;
        }
        .content {
            grid-area: content;
        }
        .main-nav {
            grid-area: nav;
        }
        .main-footer {
            grid-area: footer;
        }

        /* Design for Mobile First */
        .wrapper {
            display: grid;
            gap: 20px;
            grid-template-areas:
                "header"
                "nav"
                "content"
                "footer";
        }

        /* Shift Layout for Desktops */
        @media (min-width: 700px) {
            .wrapper {
                grid-template-columns: 1fr 4fr;
                grid-template-areas:
                "header header"
                "nav    content"
                "footer footer"
            }
            nav ul {
                flex-direction: column;
            }
        }
    </style>
</head>
<body>
<div class="wrapper">

<header class="main-head">
    <h2>Header</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cart/">Cart</a></li>
            <li><a href="/search/">Search</a></li>
        </ul>
    </nav>
    <p id="fake">This is a fake website! No products are sold. I use it to practice web development.</p>
</header>

<nav class="main-nav">
    <h1>Browse Products</h1>
    <ul>
        {% for item in menu if item.parent_category_id is none %}
        <li>
            <a href="/categories/{{ item.category_id }}/{{ item.slug }}/" title="{{ item.title }}">{{ item.title }}</a>
            {% for sub_item in menu if sub_item.parent_category_id == item.category_id %}
                {% if loop.first %}<ul>{% endif %}
                <li><a href="/categories/{{ sub_item.category_id }}/{{ sub_item.slug }}/" title="{{ sub_item.title }}">{{ sub_item.title }}</a></li>
                {% if loop.last %}</ul>{% endif %}
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
</nav>

<article class="content">
    <h1>{{ page_title }}</h1>
    <div id="content">{% block content %}{% endblock %}</div>
</article>

<footer class="main-footer">
    <h2>Footer</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/faq/">FAQ</a></li>
        </ul>
    </nav>
</footer>

</div> <!-- div#wrapper end -->
</body>
</html>