{% extends "layout.html" %}

{% block content %}
{% for product in products%}
    {% if loop.first %}<ul>{% endif %}
    <li><a href="/products/{{ product.product_id }}/{{ product.slug }}">{{ product.title }}</a></li>
    {% if loop.last %}</ul>{% endif %}
{% endfor %}
{% endblock %}
